@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Microsoft Developer Conference</h1>
</div>

<div>
    <ul>
        <li>A virtual platform for you to learn form experts and connect with the community.</li>
        <li>Calling all developers! Get ready to level up.</li>
        <li>The way we work, and live has changed. We live in a world of remote everything.</li>
    </ul>
</div>

<a class="btn btn-primary" asp-action="RegisterForm">Register for Microsoft Developer Conference</a>